<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
        integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
            <div className="holder">
                <img src="/images/logo.png" width="100" alt="Botanica"></img>
                <h1>BOTANICA</h1>
            </div>
        </header>
    {{{body}}}
     <footer>
            <p>Diseñado por Agustina Ramirez - &copy; 2022</p>
        </footer>
  </body>
</html>