<div class="container" style="margin-top:50px;">
   {{!-- fila1 --}}
    <div class="row">
        <p class="text-end">Hola! <a class="btn btn-danger btn-sm" 
        href="/admin/login/logout"> Cerrar sesión <i class="bi bi-backspace-reverse"></i></a></p>
    </div>

{{!-- fila2 --}}
<div class="row">
    <div class="col-7">
        <h3>Lista de novedades</h3>
    </div>
    <div class="col-5 text-end">
        <a href="/admin/novedades/agregar" class="btn btn-success btn-sm"> <i class="bi bi-bookmark-plus"></i> <i class="fa fa-plus" aria-hidden="true"></i>Nuevo</a>
    </div>
</div>

{{!-- fila3 --}}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each novedades}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{titulo}}</td>
      <td class="text-end">
        <a href="" class="btn btn-secondary"><i class="bi bi-plus" aria-hidden="true"></i></a>
        <a href="" class="btn btn-secondary"><i class="bi bi-trash" aria-hidden="true"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>