body {
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.holder {
  max-width: 980px;
  margin: 0 auto;
}

h2 {
  color: rgb(7, 37, 7);
  font-weight: 400;
}

header {
  background-color: rgb(26, 61, 26);
  padding: 16px 0;
}

header h1 {
  color: rgb(29, 15, 1);
  font-size: 40px;
  font-weight: 100;
  display: inline-block;
}

nav {
  background-color: rgb(8, 28, 8);
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background-color: rgb(80, 112, 80);
}

nav ul li a.activo {
  background-color: rgb(80, 112, 80);
}

footer {
  background-color: rgb(168, 149, 115);
  clear: both;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}